.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

.button {
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  text-transform: uppercase;
}

.color_btn {
}

.btn_control {
}

#button-6 p {
  position: relative;
  transition: all 0.45s ease-Out;
}

#button-6:hover p {
  color: #2d3142;
}
